name: Release 

# Trigger the workflow on every push
on:
  workflow_dispatch:
  push:
    branches:
      - '*'  # Trigger on commits to any branch
    paths:
      - '**'  # Trigger on changes to any file in the repository

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2

      - name: Prepare deps
        run: |
          sudo apt update
          sudo apt install libarchive-tools qemu-user-static mtools u-boot-tools xz-utils
          
      - name: Download files
        run: |
          filename=$(basename https://dietpi.com/downloads/images/DietPi_OdroidC4-ARMv8-Trixie.img.xz)
          wget https://dietpi.com/downloads/images/DietPi_OdroidC4-ARMv8-Bookworm.img.xz -O $filename
          echo "Downloaded file: $filename"
          ls -l 


      - name: Build
        run: |
          unxz DietPi_OdroidC4-ARMv8-Bookworm.img.xz
          sync
          sudo bash ./build.sh DietPi_OdroidC4-ARMv8-Bookworm.img

      - name: set release name
        id: clean
        run: |
          # Output cleaning result information
          df -hT ${PWD}
          echo "build_tag=Dietpi_$(date +"%Y.%m")" >> ${GITHUB_OUTPUT}
          echo "status=success" >> ${GITHUB_OUTPUT}


      - name: Release
        uses: ncipollo/release-action@v1
        with:
          name: S90Xx_TVBOX_Dietpi 
          tag: ${{ steps.clean.outputs.build_tag }} 
          artifacts: ./*
          allowUpdates: true
          removeArtifacts: true
